@use 'utilities' as *;
@use 'config' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  color: $light-color;
  background: $dark-color;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  color: $dark-color;
  color: $light-color;
}

// Logo
#logo {
  a {
    font-family: 'Orbitron', sans-serif;
    color: $main-color;
  }
}

// Navbar
#main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  background: $dark-color;
}

#navbar {
  padding-right: 1rem;

  ul {
    display: flex;
  }

  li {
    padding-right: 1rem;
  }

  a {
    font-size: 1.2rem;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    text-transform: uppercase;

    &:hover {
      color: $main-color;
      border-color: $main-color;
      transition: all 1s ease;
    }

    &.current {
      color: $main-color;
      border-color: $main-color;
    }
  }
}

// Showcase
#showcase {
  .showcase {
    &-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 800px;
      background: url('../img/pic9.jpg') no-repeat center center;
      background-size: 1500px;

      h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        background-color: $main-color;
        padding: 1rem;
        border-radius: 10px;
      }

      input {
        margin-bottom: 1rem;
        padding: 0.7rem 2rem;
        width: 20%;
        border-radius: 10px;
        border: none;
      }

      a:hover {
        background-color: $light-color;
        color: $main-color;
        transition: all 0.5s ease-in;
      }
    }
  }
}

#home {
  // Home A
  &-a {
    position: relative;
    .cards {
      position: absolute;
      bottom: -70px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      height: 300px;
      margin: 0 3rem;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: $medium-color;
        color: $dark-color;
        border-radius: 10px;
        padding: 0 1rem;
        height: 285px;
        width: 400px;

        .card-btn {
          &:hover {
            background-color: $main-color;
            color: $light-color;
            transition: all 0.5s ease-in;
          }
        }
      }
    }
  }

  // Home B
  &-b {
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      margin-bottom: 1rem;

      .photo:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in;
      }
    }

    a:hover {
      border: 1px $light-color solid;
      color: $light-color;
      transition: all 0.5s ease-in;
    }
  }

  // Home C
  &-c {
    img {
      height: 500px;
      width: 715px;
    }

    .benefits {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin-bottom: 1rem;

      a:hover {
        border: 1px $light-color solid;
        color: $light-color;
        transition: all 0.5s ease-in;
      }
    }
  }

  // Home D
  &-d {
    .slider {
      max-width: 100rem;
      height: 30rem;
      margin: 0 auto;
      position: relative;

      /* IN THE END */
      overflow: hidden;

      .slide {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20rem;

        display: flex;
        align-items: center;
        justify-content: center;

        /* THIS creates the animation! */
        transition: transform 1s;

        blockquote {
          font-size: 3rem;
          font-family: 'Bebas Neue', cursive;
          margin-bottom: 1rem;
        }

        blockquote::before {
          display: block;
          content: open-quote;
          color: $main-color;
          font-size: 5rem;
        }

        blockquote::after {
          display: block;
          display: flex;
          justify-content: flex-end;
          content: close-quote;
          color: $main-color;
          font-size: 5rem;
        }

        .ratings {
          display: flex;
          justify-content: flex-end;
          color: $main-color;
        }
      }

      .slider__btn {
        position: absolute;
        top: 50%;
        background-color: white;
        color: $main-color;
        padding: 1rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: $main-color;
          color: $light-color;
          transition: all 0.5s ease-in;
        }
      }

      .slider__btn--left {
        left: 3%;
        transform: translate(-50%, -50%);
      }

      .slider__btn--right {
        right: 3%;
        transform: translate(50%, -50%);
      }
    }
  }
}

// Memberships Page
#memberships {
  &-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: $main-color;

    .section-title {
      font-size: 4rem;
      display: flex;
      justify-content: flex-start;
      font-weight: 1000;
      color: $light-color;
    }

    .lead {
      font-size: 1.2rem;
      margin-bottom: 0;
    }
  }

  &-b {
    .lead {
      font-size: 1.1rem;
      line-height: 1.5;
    }

    .monthly-memberships {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      justify-content: center;

      .card {
        display: grid;
        grid-template-rows: 6fr 1fr;
        background: $light-color;
        height: 500px;
        border-radius: 10px;
        padding: 1rem;

        .lead {
          color: $dark-color;
        }

        .fa-solid {
          color: $main-color;
        }

        li {
          margin-bottom: 1rem;
          line-height: 1.2;
        }

        a {
          &:hover {
            background-color: $dark-color;
            color: $main-color;
            transition: 0.5s ease-in;
          }
        }
      }
    }
  }

  &-c {
    background-color: $main-color;
    height: 350px;
    display: grid;
    grid-template-rows: 1fr;

    .sub-title {
      color: $light-color;
      font-size: 4rem;
    }

    .lead {
      font-size: 1rem;
      line-height: 1.4;
    }

    a {
      &:hover {
        background-color: $medium-color;
        color: $dark-color;
        transition: 0.5s ease-in;
      }
    }
  }

  &-d {
    .other-memberships {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      .card {
        display: grid;
        grid-template-rows: 8fr 1fr;
        background-color: $light-color;
        color: $dark-color;
        border-radius: 10px;
        padding: 1rem;

        p {
          font-family: 'Lato', sans-serif;
        }

        a {
          &:hover {
            background-color: $dark-color;
            color: $main-color;
            transition: 0.5s ease-in;
          }
        }
      }
    }
  }

  &-e {
    background-color: $main-color;

    .section-title {
      color: $light-color;
      font-size: 4rem;
    }

    input {
      padding: 1rem;
      width: 30%;
      border-radius: 10px;
      border: none;
    }

    a {
      margin-top: 1rem;

      &:hover {
        background-color: $dark-color;
        color: $main-color;
        transition: 0.5s ease-in;
      }
    }
  }
}

// Login Page
#login {
  padding: 9rem 0;
  height: 70vh;

  h1 {
    font-size: 4rem;
    font-weight: 1000;
  }

  .forms {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 0 20rem;

    .form {
      display: flex;
      flex-direction: column;

      .section-title-light {
        display: flex;
      }

      input {
        padding: 1rem;
        border: none;
        border-radius: 10px;

        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .login-btn {
    a {
      width: 30%;
      margin-bottom: 1rem;

      &:hover {
        background-color: $medium-color;
        color: $main-color;
        transition: 0.5s ease-in;
        border: none;
      }
    }
  }

  h4 {
    font-size: 1.5rem;
  }

  a:hover {
    border: 1px $light-color solid;
    color: $light-color;
    transition: 0.5s ease-in;
  }
}

// Footer
#main-footer {
  background-color: #333;

  .footer {
    // Footer A
    &-a {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .footer-column {
        display: grid;
        grid-template-columns: 1fr;

        h4 {
          font-family: 'Bebas Neue', cursive;
          line-height: 1.2;
          color: $main-color;
        }

        a {
          font-family: 'Lato', sans-serif;
          line-height: 1.5;

          &:hover {
            color: $main-color;
            transition: all 0.5s ease;
          }
        }
      }
    }

    // Footer B
    &-b {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;

      p {
        font-family: 'Lato', sans-serif;
        font-size: 0.7rem;
        color: $medium-color;
      }

      .fab:hover {
        color: $main-color;
        transition: all 0.5s ease;
      }
    }
  }
}

//////////////////////////////////////////////////////////
// Media Queries

// Laptop Small
@media (max-width: 1024px) {
  .lead {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1rem;
  }

  .text-primary {
    font-size: 0.6rem;
  }
  .text-secondary {
    font-size: 0.6rem;
  }

  // Home Page
  #home {
    &-a {
      .cards {
        margin: 0;
        .card {
          width: 285px;
        }
      }
    }

    &-d {
      display: none;
    }
  }

  // Memberships Page
  #memberships {
    &-a {
      .section-title {
        font-size: 2.5rem;
      }

      .lead {
        font-size: 1rem;
      }
    }

    &-d {
      .other-memberships {
        .card {
          p {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}

// Tablet
@media (max-width: 768px) {
  .section-title {
    font-size: 1.2rem;
  }

  .sub-title {
    font-size: 1.2rem;
  }

  // Home Page
  #home {
    &-a {
      .cards {
        margin: 0;
        .card {
          width: 200px;
        }
      }
    }

    &-c {
      .benefits {
        width: 1450px;
        margin-bottom: 3rem;

        .btn-border {
          color: $main-color;
          border: 1px $light-color solid;
        }

        .img {
          display: none;
        }
      }
    }
    &-d {
      display: none;
    }
  }

  // Memberships Page
  #memberships {
    &-a {
      .section-title {
        font-size: 1.6rem;
      }

      .lead {
        font-size: 0.8rem;
      }
    }

    &-b {
      .lead {
        font-size: 0.8rem;
      }
      .monthly-memberships {
        .card {
          .lead {
            font-size: 1rem;
          }
        }
      }
    }

    &-d {
      .other-memberships {
        .card {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  // Login Page
  #login {
    .forms {
      margin: 0 6rem;
    }
  }
}

// Mobile
@media (max-width: 426px) {
  .text-primary {
    font-size: 0.4rem;
  }
  .text-secondary {
    font-size: 0.4rem;
  }

  .memberships-container {
    padding: 0 1rem;
  }

  // Home Page
  #input-field {
    font-size: 0.5rem;
  }

  #main-nav {
    position: absolute;
  }

  #home {
    &-a {
      height: 500px;
      .cards {
        position: absolute;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 700px;

        .card {
          width: 350px;
          height: 300px;
        }
      }
    }

    &-b {
      .gallery {
        grid-template-columns: 1fr;
      }
    }

    &-c {
      .benefits {
        width: 750px;
      }
    }

    &-d {
      display: none;
    }
  }

  // Memberships Page
  #memberships {
    &-a {
      .section-title {
        font-size: 1rem;
      }

      .lead {
        font-size: 0.9rem;
      }
    }

    &-b {
      .lead {
        font-size: 0.8rem;
      }

      .monthly-memberships {
        grid-gap: 0.4rem;
        .card {
          .lead {
            font-size: 0.7rem;
          }

          li {
            margin-bottom: 0rem;
          }
        }
      }
    }

    &-d {
      .other-memberships {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.4rem;
        .card {
          height: 400px;
          p {
            font-size: 0.8rem;

            .text-primary {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }

  // Login Page
  #login {
    .section-title {
      font-size: 2rem;
    }
    .forms {
      margin: 0 1rem;
    }
  }

  // Footer {
  #main-footer {
    .footer {
      &-a {
        .footer-column {
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
